.logo {
  width: 50%;
  margin: 22px 30px;
  flex: 0 0 auto;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

// sidebar whole
.sideMenuContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menuChildItems {
  width: 100%;
}

.menuItems {
  width: 100%;
}

//parent link
.menuLink {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 6px;
  color: #4a4759;
  transition: all 0.3s ease;
}

//hover menu 
.menuLink:hover {
 background: linear-gradient(
    126.66deg,
    #33E9A1 1.51%,
    #03287E 117.24%
  );
  color: #f0f0f0
}

//active parent
.activeMenuItem {
  @extend .menuLink;
  background: linear-gradient(126.66deg, #33E9A1 1.51%, #03287E 117.24%);
  color: #ffffff;
}

//icon aur title
.items {
  display: flex;
  align-items: center;
  gap: 7px;
}

.menuName {
  margin: 0;
  font-size: 14px;
}

// child items
// ul {
//   margin: 0;
//   padding: 0;
// }

//default child 
.subMenu {
  display: block;
  padding: 8px 25px;
  text-decoration: none;
  font-size: 12px;
  color: #4a4759;
  border-radius: 4px;
  transition: all 0.1s ease;
}

/* Child Hover */
.subMenu:hover {
  color: #33E9A1;
  margin-left: 30px;
  border-left: 3px solid #33E9A1;
}

/* Active Child */
.activeSubMenu {
  @extend .subMenu;
  font-weight: 600;
//   padding-left: 5px;
margin-left: 10px;
  border-left: 3px solid #33E9A1;
}

.list {
  list-style: none;
}

// log-out
.logOutContainer {
  margin-top: auto;
  border-top: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
  padding: 15px 30px;
  gap: 15px;
  cursor: pointer;
  p {
    margin: 0;
    color: #4a4759;
    font-size: 12px;
    font-weight: 500;
  }
}